spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
    include:
      - secret
      - s3
      - constant
  config:
    import: optional:file:.env.${spring.profiles.active}.properties
  jpa:
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    mongodb:
      uri: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/${MONGO_DB}?authSource=admin

swagger:
  redirect:
    # "/"로 들어왔을 때 최종적으로 리다이렉트될 Swagger UI 경로
    path: /swagger-ui/index.html